@import "tailwindcss";

@theme {
  --color-pryClr: #2f5318;
  --color-secClr: #e6fff6f6;
  --color-tetClr: #f5dd00;
}

* {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

input[type="number"].no-marker {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"].no-spin::-webkit-inner-spin-button,
input[type="number"].no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  @apply hidden;
}

.styled-scrollbar::-webkit-scrollbar {
  @apply lg:w-2 w-1 h-1;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[#cbd5e1] rounded-full;
}

textarea {
  resize: none;
}

button:disabled {
  cursor: not-allowed;
}
